/* 
====================================
Sets up styles for .sidebar-container 
====================================
*/



.sidebar-container {
    background: white;
    height:100%;
    position: fixed;
    padding:20px;
    width:320px;
    text:left;
    display:flex;
    flex-direction: column;

    
}

.sideside-container{
    margin-left:20px;
    margin-right:20px;
}


.logo-container{
    display:flex;
}

nav { 
    top:0;
}
  
nav a,
nav h2 {
    display:block;
    position:relative;
    text-decoration:none;

}

/* headers */

h1{
    font-weight: bold;
    color:#3F5B68;
}


.font{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.font2{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: medium;
}

.regular{
    color: black;
}



/* 
====================================
Sets up styles for .content-container 
====================================
*/

/* Positions section container in relation to .sidebar-container */
.section-container {
    background: #A0B89F;
    margin-left: 290px;
    padding: 40px 40px;
    height: 100%;
    
  
}

/* Sets max width for content and align content in middle of section-container */
.content-container {
    background: white;
    margin:0 auto;
    max-width:850px;
    padding: 40px;
   
}

/* Sets row behavior using flexbox: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
.row-container-no-wrap {
    width:100%;
    display:flex;
    flex-wrap: wrap;
    margin-top:15px;
    margin-bottom:15px;
  
}

.row-container {
    width:100%;
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap;
    margin-top:15px;
    margin-bottom:15px;

}

.color-container{
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
}

.icons-container{
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
}


/* color boxes */

.colorBox {
    height:30px;
    width:100px;
    background: gray;
}

.blue{
    background: #3F5B68
}

.orange{
    background:#E4A972;
}

.green{
    background: #A0B89F; 
}

.coral{
    background:#DC8282;
}


.row-container-around {
    width: 100%;
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;

}


/* buttons */

.btn{
    background:#3F5B68; 
}

.btn:hover{
    background:#A0B89F;
}

.btn:active{
    background:#3F5B68;
    font-weight: bold;
}

    
/* 
====================================
BONUS: Sets up styles for mobile breakpoint 
====================================
*/

/* Hides mobile navigation on desktop */
.mobile-nav {
    display:none;

   
}

/* Sets media query for screens below 450px wide */
@media only screen and (max-width: 450px) {

    /* Position nav at the top */
    nav {
        position:fixed;
        left:0;
       
    }

    /* Shows Mobile Navigation Styles  */
    .mobile-nav {
       background:white;
       width:100%;
       padding:10px 30px;
       display:flex;
       justify-content: flex-start;
       align-content: center;
       height: 80px;
       margin: 0;
       box-shadow: 0 0 10px rgba(0,0,0,0.4);


    }
    /* Sets max width for logos in mobile nav */
    .mobile-nav img {
        height: 80px;

    }

    /* Hides Sidebar on mobile */
    .sidebar-container {
        display: none;
       
    }
  
    /* Defines mobile container content */
    .section-container {
    background: #3F5B68;
        margin-top: 60px;
        margin-left: 0px;
        height:100%;
      
    }

    /* Sets Type Styles */
    h1 {
        font-size: 1.6em;
        
    }


    .row-container-no-wrap {
        flex-wrap: wrap;
      
    }

    #Logo .section-logo {
        width: 300px;
        height:100%;
       
    }


}

/* 
====================================
BONUS: Sets up css code snippet styles 
====================================
*/

pre {

}
